*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    background-image: url(../bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: fit-content; */
    min-height: 590px;
    max-height: fit-content;
}
#h{
    text-align: center;
    color: rgba(255, 255, 255, 0.612);
    margin: 30px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-decoration:line-through 0px ;
    /* line-height: 50px; */
}
.form{
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputp{
    display: flex;
    background-color: white;
    width: 80%;
    border-radius: 30px;
}
.inputp img{
    width: 50px;
    border-radius: 30px;
    /* padding: 5px 10px; */
}
.input{
    width: 80%;
    margin: 10px auto;
    padding: 0px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    /* border-radius: 30px; */
}
.input:active{
     border: 1px solid rgb(255, 255, 255);
}
.submit{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    padding: 5px 20px;
    background-color: rgb(0, 102, 255);
    color: black;
    border-radius: 10px;
    margin: 10px 0px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.user{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}
.img{
    width: 40%;
    height: 100%;
}
.img img{
    width: 100%;
}
.item{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    background-color: white;
}
.item h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.item h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
    color: rgb(0, 0, 0);
}
.b1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.605);
}
.b2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0, 0.605);

}
.bb1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}
.bb2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}
.item h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.402);
}
.item h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.486);
}
.item h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 0, 0);
}
.bp{
    
}
@media(max-width:1000px){
    body{
        width: 100%;
        background-image: url(../bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* min-height: fit-content; */
        min-height: 700px;
        max-height: fit-content;
    }
    #h{
        text-align: center;
        color: rgba(255, 255, 255, 0.612);
        margin: 30px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        text-decoration:line-through 0px ;
        /* line-height: 50px; */
    }
    .form{
        width: 60%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputp{
        display: flex;
        background-color: white;
        width: 80%;
        border-radius: 30px;
    }
    .inputp img{
        width: 50px;
        border-radius: 30px;
        /* padding: 5px 10px; */
    }
    .input{
        width: 80%;
        margin: 10px auto;
        padding: 0px 0px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        /* border-radius: 30px; */
    }
    .input:active{
         border: 1px solid rgb(255, 255, 255);
    }
    .submit{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        padding: 5px 20px;
        background-color: rgb(0, 102, 255);
        color: black;
        border-radius: 10px;
        margin: 10px 0px;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .user{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: white;
    }
    .img{
        width: 40%;
        height: 100%;
    }
    .img img{
        width: 100%;
    }
    .item{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 10px;
        background-color: white;
    }
    .item h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
    }
    .item h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-weight: lighter;
        color: rgb(0, 0, 0);
    }
    .b1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgba(0, 0, 0, 0.605);
    }
    .b2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0, 0.605);
    
    }
    .bb1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
    }
    .bb2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
    }
    .item h4{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.8rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.402);
    }
    .item h5{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.486);
    }
    .item h6{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.7rem;
        font-weight: bolder;
        color: rgb(255, 0, 0);
    }  
}
@media(max-width:890px){
    #h{
        text-align: center;
        color: rgba(255, 255, 255, 0.612);
        margin: 30px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        text-decoration:line-through 0px ;
        /* line-height: 50px; */
    }
    .form{
        width: 60%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputp{
        display: flex;
        background-color: white;
        width: 80%;
        border-radius: 30px;
    }
    .inputp img{
        width: 50px;
        border-radius: 30px;
        /* padding: 5px 10px; */
    }
    .input{
        width: 80%;
        margin: 10px auto;
        padding: 0px 0px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        /* border-radius: 30px; */
    }
    .input:active{
         border: 1px solid rgb(255, 255, 255);
    }
    .submit{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        padding: 5px 20px;
        background-color: rgb(0, 102, 255);
        color: black;
        border-radius: 10px;
        margin: 10px 0px;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .user{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: white;
    }
    .img{
        width: 40%;
        height: 100%;
    }
    .img img{
        width: 100%;
    }
    .item{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 10px;
        background-color: white;
    }
    .item h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        color: rgb(0, 0, 0);
    }
    .item h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.9rem;
        font-weight: lighter;
        color: rgb(0, 0, 0);
    }
    .b1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgba(0, 0, 0, 0.605);
    }
    .b2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0, 0.605);
    
    }
    .bb1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }
    .bb2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }
    .item h4{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.7rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.402);
    }
    .item h5{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.9rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.486);
    }
    .item h6{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        color: rgb(255, 0, 0);
    }  
}
@media(max-width:716px){
    #h{
        text-align: center;
        color: rgba(255, 255, 255, 0.612);
        margin: 30px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        text-decoration:line-through 0px ;
        /* line-height: 50px; */
    }
    .form{
        width: 70%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputp{
        display: flex;
        background-color: white;
        width: 80%;
        border-radius: 30px;
    }
    .inputp img{
        width: 50px;
        border-radius: 30px;
        /* padding: 5px 10px; */
    }
    .input{
        width: 80%;
        margin: 10px auto;
        padding: 0px 0px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        /* border-radius: 30px; */
    }
    .input:active{
         border: 1px solid rgb(255, 255, 255);
    }
    .submit{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        padding: 5px 20px;
        background-color: rgb(0, 102, 255);
        color: black;
        border-radius: 10px;
        margin: 10px 0px;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .user{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: white;
    }
    .img{
        width: 40%;
    }
    .img img{
        height: 100%;
        width: 100%;
    }
    .item{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 10px;
        background-color: white;
    }
    .item h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        color: rgb(0, 0, 0);
    }
    .item h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.8rem;
        font-weight: lighter;
        color: rgb(0, 0, 0);
    }
    .b1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgba(0, 0, 0, 0.605);
        font-size: 0.8rem;
    }
    .b2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0, 0.605);
        font-size: 0.8rem;
    
    }
    .bb1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
    }
    .bb2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
    }
    .item h4{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.6rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.402);
    }
    .item h5{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.8rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.486);
    }
    .item h6{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.3rem;
        font-weight: bolder;
        color: rgb(255, 0, 0);
    }  
}
@media(max-width:551px){
    #h{
        text-align: center;
        color: rgba(255, 255, 255, 0.612);
        margin: 30px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        text-decoration:line-through 0px ;
        /* line-height: 50px; */
    }
    .form{
        width: 80%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputp{
        display: flex;
        background-color: white;
        width: 80%;
        border-radius: 30px;
    }
    .inputp img{
        width: 50px;
        border-radius: 30px;
        /* padding: 5px 10px; */
    }
    .input{
        width: 60%;
        margin: 10px auto;
        padding: 0px 0px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        /* border-radius: 30px; */
    }
    .input:active{
         border: 1px solid rgb(255, 255, 255);
    }
    .submit{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.4rem;
        padding: 5px 20px;
        background-color: rgb(0, 102, 255);
        color: black;
        border-radius: 10px;
        margin: 10px 0px;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .user{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: white;
    }
    .img{
        width: 40%;
    }
    .img img{
        height: 100%;
        width: 100%;
    }
    .item{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* align-items: center; */
        gap: 6px;
        background-color: white;
    }
    .item h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
    }
    .item h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.7rem;
        font-weight: lighter;
        color: rgb(0, 0, 0);
    }
    .b1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgba(0, 0, 0, 0.605);
        font-size: 0.7rem;
    }
    .b2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0, 0.605);
        font-size: 0.7rem;
    
    }
    .bb1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 0.8rem;
    }
    .bb2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
    }
    .item h4{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.5rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.402);
    }
    .item h5{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.7rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.486);
    }
    .item h6{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-weight: bolder;
        color: rgb(255, 0, 0);
    }  
}
@media(max-width:390px){
    #h{
        text-align: center;
        color: rgba(255, 255, 255, 0.612);
        margin: 30px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        text-decoration:line-through 0px ;
        /* line-height: 50px; */
    }
    .form{
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputp{
        display: flex;
        background-color: white;
        width: 80%;
        border-radius: 30px;
    }
    .inputp img{
        width: 50px;
        border-radius: 30px;
        /* padding: 5px 10px; */
    }
    .input{
        width: 50%;
        margin: 5px auto;
        padding: 0px 0px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        /* border-radius: 30px; */
    }
    .input:active{
         border: 1px solid rgb(255, 255, 255);
    }
    .submit{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        padding: 5px 20px;
        background-color: rgb(0, 102, 255);
        color: black;
        border-radius: 10px;
        margin: 10px 0px;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .user{
        width: 98%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: white;
    }
    .img{
        width: 40%;
    }
    .img img{
        height: 100%;
        width: 100%;
    }
    .item{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* align-items: center; */
        gap: 4px;
        background-color: white;
    }
    .item h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.7rem;
        color: rgb(0, 0, 0);
    }
    .item h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.5rem;
        font-weight: lighter;
        color: rgb(0, 0, 0);
    }
    .b1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgba(0, 0, 0, 0.605);
        font-size: 0.6rem;
    }
    .b2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0, 0.605);
        font-size: 0.6rem;
    
    }
    .bb1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 0.7rem;
    }
    .bb2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 0.8rem;
    }
    .item h4{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.4rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.402);
    }
    .item h5{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.6rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.486);
    }
    .item h6{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.8rem;
        font-weight: bolder;
        color: rgb(255, 0, 0);
    }  
}